<header>
  <ul class = "clearfix">
    <li　class = "head-list">
    <%= link_to "投稿", root_path, :class => 'get' %>
    </li>
    <li>
    <%= link_to "ログイン",root_path, :class => 'get' %>
    </li>
  </ul>
</header>